<!DOCTYPE html>
<html lang="en">
<head>
	<title>Menu</title>
	<%- include ('./Style/_head') %>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Menu</h1>
				<p>Login o Registro</p>
				<a href="/Login" class="btn btn-light">
					<span class="fa fa-user"></span> Local Login
				</a>
				<a href="/Registro" class="btn btn-light">
					<span class="fa fa-user"></span> Local Signup
				</a>
			</div>
		</div>
	</div>

</body>
</html>